.submissionsPage {
  background-color: #eafae8;
  padding-top: 15vh;
  min-height: 100%;
  height: 100% !important;

  .submissionContainer {
    width: 50vw;
  }

  .outputDiv {
    height: 30vh;
    background: grey;
    padding: 10px;
    color: white;
    border-radius: 10px;
    overflow-y: auto;
  }

  .btn {
    background-color: transparent;
    color: #7c408a;
    cursor: pointer;
    padding: 0.25em 1em;
    margin-right: 0.5em;
    text-align: center;
    border: solid #7c408a 2px;
    border-radius: 5px;
    transition: background-color 0.25s ease, border 0.25s ease;

    &:active:focus {
      background-color: #7c408a;
      color: white;
      outline: none;
    }
  }
}

.terminalDiv {
  background-color: #272936;
  width: 100%;
  height: 40vh;
  font-family: monospace;
  font-size: 20px;
  border-radius: 10px;
}

.terminalTextDiv {
  padding: 30px 30px 30px 30px;
  overflow-y: auto;
  overflow-x: auto;
  color: white;
}

.terminalHeader {
  background-color: #e1e1e1;
}

.terminalDot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 0 auto;
  display: inline-block;
  margin-right: 10px;
}

.terminalRedDot{
  margin-left: 20px;
  background-color: #FF605C;
}

.terminalYellowDot{
  background-color: #FFBD44;
}

.terminalGreenDot{
  background-color: #00CA4E;
}

.terminalTitle {
  color: black;
  padding: 5px auto 5px auto;
  font-size: 17px;
  display: inline-block;
  position: relative;
  left: 30vw;
}
